{% extends 'base.html' %}

{% block body %}
    <!-- Page where you can create a recording for a diary entry -->
    <!-- link to record -->
    <p>
        <a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href="/newentry/"><b>Make an entry</b></a>
    </p>
    {% for entry in entries %}
        {{entry.entryname}}
        <br>
        <br>
        {% if entry.entrytext[-4:] == '.mp3' %}
        <audio src="{{url_for('file_func', file=entry.entrytext)}}" controls='controls'></audio>
        <br>
        {{entry.transcription}}
        <br>
        {% else %}
        <br>
        {{entry.entrytext}}
        <br>
        {% endif %}
        From,
        {% if entry.photo != "" %}
            <img src="{{url_for('file_func', file = entry.photo)}}" width="25" height="25" style="border-radius: 75px;" alt="Profile Picture">
        {% else %}
            <img src="{{url_for('static_func', file = 'Default.png')}}" width="25" height="25" style="border-radius: 75px;" alt="Profile Picture">
        {% endif %}
        {{entry.writer}}
        <br>
        Time of Entry: 
        {{entry.created}}
        <hr/>

    {% endfor %}

    <!-- {% for entry in audio_entries %}
        {{entry.entryname}}
        <audio src='{{entry.entryaudio}}' controls='controls'></audio>
        {{entry.writer}}
        {{entry.created}}
        <hr/>
    {% endfor %} -->

    <!-- Logout -->
    <!-- <p>
        <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
            <input type="submit" name="logout" value="Logout"/>
          </form>
    </p> -->
{% endblock %}