<!-- Page where you can see all of your entries -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICUDiary</title>
</head>
<body>
    <!-- Page where you can create a recording for a diary entry -->
    <h1>
        <a href="/">LOGO</a> | <span>ICYou</span>
        <span style = float:right>
            <b>Archive</b>
        </span>
    </h1>
    <hr>

    <br>
    <!-- link to record -->
    <p>
        <a href="/newentry/"><b>Make an entry</b></a>
    </p>
    <!-- Logout -->
    <p>
        <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
            <input type="submit" name="logout" value="Logout"/>
          </form>
    </p>
</body>
</html>