<!-- Page where you can see all of your entries -->
{% extends 'base.html' %}

{% block body %}

    <br>
    <!-- link to record -->
    <p>
        <a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href="/newentry/"><b>Make an entry</b></a>
    </p>

    <div>
        Created: October 8, 2021 (2:00 PM)
    </div>

    <div>
        By: David Chesney
        <img src="{{url_for('file_func', file = 'dchensey.jpeg')}}" width="75" height="75">
    </div>
    <br>
    <div>
        Hello,
        <br>
        Hope you're having a nice day :)
    </div>

    <a src=>

{% endblock %}