<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>ICUDiary</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{{url_for('static_func', file = 'DiaryLogo.png')}}" alt="" class="d-inline-block align-middle img-fluid">
                    ICYou 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/newentry/">Make an Entry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/archive/">View Archive</a>
                        </li>
                        <!-- TODO: add page-specific menus? -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Access Codes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Edit Profile</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <form action="/accounts/logout/" method="post" enctype="multipart/form-data" class="small">
                            {% if filename != "" %}
                                <a href="/"><img src="{{url_for('file_func', file = filename)}}" width="75" height="75" style="border-radius: 75px;" alt="Profile Picture"></a>
                            {% else %}
                                <a href="/"><img src="{{url_for('static_func', file = 'Default.png')}}" width="75" height="75" style="border-radius: 75px;" alt="Profile Picture"></a>
                            {% endif %}
                            {{user}}
                            <input type="submit" name="logout" value="Logout"/>
                        </form>
                    </span>
                </div>
            </div>
        </nav>

        <h1 class="p-3 mb-2 text-white" style="width: 100%; display: flex; flex-flow: row wrap; background-color:lightskyblue;">
            <span style="width: 33.33333%;"><a href="/"><img src="{{url_for('static_func', file = 'DiaryLogo.png')}}"></a> <span>ICYou</span></span>
            <span style="color: darkblue; width: 33.33333%; text-align: center;">
                {% if patient %}
                    {% if role != 'User' %}
                        {{patient}}'s diary
                    {% elif role == 'Superuser' %}

                    {% endif %}
                {% endif %}
                {% if role == 'Patient' and notifcount != 0 %}
                <a href="/archive/"> 
                    <button type="button" class="btn btn-danger">
                        Unread <span class="badge badge-light">{{notifcount}}</span>
                    </button>
                </a>
                {% endif %}
            </span>
            <span style="width: 33.33333%; text-align: right;">
                <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                    {% if filename != "" %}
                        <a href="/"><img src="{{url_for('file_func', file = filename)}}" width="75" height="75" style="border-radius: 75px;" alt="Profile Picture"></a>
                    {% else %}
                        <a href="/"><img src="{{url_for('static_func', file = 'Default.png')}}" width="75" height="75" style="border-radius: 75px;" alt="Profile Picture"></a>
                    {% endif %}
                    {{user}}

                    <input type="submit" name="logout" value="Logout"/>
                </form>
            </span>
        </h1>
        <a style="float: right;" href="/help/"><img width="75" height="75" src="{{url_for('static_func', file = 'help.png')}}"></a>
        <br>
        
        <div class = "container">
            {% block body %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    </body>
</html>