<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>ICUDiary</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1 class="p-3 mb-2 text-white" style="width: 100%; display: flex; flex-flow: row wrap; background-color:lightskyblue;">
            <span style="width: 33.33333%;"><a href="/"><img src="{{url_for('static_func', file = 'DiaryLogo.png')}}"></a> <span>ICYou</span></span>
            <span style="color: darkblue; width: 33.33333%; text-align: center;">
                {% if patient %}
                    {% if role != 'User' %}
                        {{patient}}'s diary
                    {% elif role == 'Superuser' %}

                    {% endif %}
                {% endif %}
                {% if role == 'Patient' and notifcount != 0 %}
                <a href="/archive/"> 
                    <button type="button" class="btn btn-danger">
                        Unread <span class="badge badge-light">{{notifcount}}</span>
                    </button>
                </a>
                {% endif %}
            </span>
            <span style="width: 33.33333%; text-align: right;">
                <form action="/accounts/logout/" method="post" enctype="multipart/form-data" class="small">
                    {% if filename != "" %}
                        <a href="/"><img src="{{url_for('file_func', file = filename)}}" width="75" height="75" style="border-radius: 75px;" alt="Profile Picture"></a>
                    {% else %}
                        <a href="/"><img src="{{url_for('static_func', file = 'Default.png')}}" width="75" height="75" style="border-radius: 75px;" alt="Profile Picture"></a>
                    {% endif %}
                    {{user}}

                    <input type="submit" name="logout" value="Logout"/>
                </form>
            </span>
        </h1>
        <a style="float: right;" href="/help/"><img width="75" height="75" src="{{url_for('static_func', file = 'help.png')}}"></a>
        <br>
        
        <div class = "container">
            {% block body %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>