{% extends 'unauth-base.html' %}

{% block body %}
    <form action="/accounts/create/" id="create" onsubmit="return validateForm()" method="post" name="create" enctype="multipart/form-data">
        <span>Photo </span><input type="file" name="file">
        <br>
        <span>First Name </span><input type="text" name="firstname" required/>
        <br>
        <span>Last Name </span><input type="text" name="lastname" required/>
        <br>
        <span>Username </span><input type="text" name="username" required/>
        <br>
        <span>Email </span><input type="email" name="email" required/>
        <br>
        <div id="strengthCheckedPassword"></div>
        <span id="isStrong" style="color: red" class="d-flex justify-content-center"></span>
        <br>
        <!-- <span>Role </span><input type="text" name="role"/> -->
        <label for="role"> Select your role:</label>
        <select name="role" id="role" required>
            <option value="Patient">Patient</option>
            <!-- <option value="Superuser">Superuser</option> -->
            <option value="User">User</option>
        </select>
        <label for="question"> Select a security question:</label>
        <select name="question" id="question" required>
            <option value="What was the name of your first pet? ">What was the name of your first pet?</option>
            <option value="In what city were you born? ">In what city were you born?</option>
            <option value="What was the name of your elementary school? ">What was the name of your elementary school?</option>
            <option value="What is your middle name? ">What is your middle name?</option>
        </select>
        <span>Answer: </span><input type="text" name="answer" required/>
        <br>

        <input type="submit" name="signup" value="Sign Up" />
        <br>
    </form>
    <p>
        Have an account? <a href="/accounts/login/"><b>Log in</b></a>
    </p>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <script>
        function validateForm() {
            let strength = document.getElementById("strengthCheckedPassword").lastElementChild.lastElementChild.lastElementChild.innerHTML;
            if (!(strength == "good" || strength == "strong")) {
                document.getElementById("isStrong").innerHTML = "Please enter a stronger password"
                return false;
            }
        }
    </script>
{% endblock %}
