<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ICUDiary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <h1>
        <a href="/"><img src="{{url_for('static_func', file = 'DiaryLogo.png')}}"></a> | <span>ICYou</span>
        <span style = float:right>
            <a href="/accounts/login/"><b>login</b></a>
        </span>
    </h1>
    <hr>
    <br>
    <form action="/accounts/create/" id="create" method="post" enctype="multipart/form-data">
        <span>Photo </span><input type="file" name="file">
        <br>
        <span>First Name </span><input type="text" name="firstname"/>
        <br>
        <span>Last Name </span><input type="text" name="lastname"/>
        <br>
        <span>Username </span><input type="text" name="username"/>
        <br>
        <span>Email </span><input type="text" name="email"/>
        <br>
        <span>Password </span><input type="password" name="password"/>
        <br>
        <!-- <span>Role </span><input type="text" name="role"/> -->
        <label for="role"> Select your role:</label>
        <select name="role" id="role" required>
            <option value="Patient">Patient</option>
            <option value="Superuser">SuperUser</option>
            <option value="User">User</option>
        </select>
        <br>
        <input type="submit" name="signup" value="sign up"/>
        <br>
    </form>
    <p>
        Have an account? <a href="/accounts/login/"><b>Log in</b></a>
    </p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
