<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICYou</title>
</head>
<body>
    <h1>
        <a href="/">LOGO</a> | <span>ICYou</span>
    </h1>
    <hr>
    <br>
    <img src= "{{url_for('file_func', file = filename)}}" width=75 height =75 alt="follow icon">
    <span> {{logname}}</span>
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="/accounts/edit/" method="post" enctype="multipart/form-data">
        <span>Photo </span><input type="file" name="file">
        <br>
        <span>First Name </span><input type="text" name="firstname" value="{{firstname}}"/>
        <br>
        <span>Last Name </span><input type="text" name="lastname" value="{{lastname}}"/>
        <br>
        <span>Email </span><input type="text" name="email" value="{{email}}"/>
        <br>
        <input type="submit" name="update" value="submit"/>
        <br>
    </form>
    <p><a href = "/accounts/password/"><b>Change password</b></a></p>
    <p><a href = "/accounts/delete/"><b>Delete account</b></a></p>
</body>
</html>
