{% extends 'base.html' %}

{% block body %}
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <div class="d-grid gap-2 col-6 mx-auto my-auto">
        <form align="center" action="/accounts/edit/" method="post" style="font-size: 25px" enctype="multipart/form-data">
            <span>Photo </span><input type="file" name="file">
            <br>
            <span>First Name </span><input type="text" name="firstname" value="{{firstname}}"/>
            <br>
            <span>Last Name </span><input type="text" name="lastname" value="{{lastname}}"/>
            <br>
            <span>Email </span><input type="email" name="email" value="{{email}}"/>
            <br>
            <input type="submit" name="update" value="Submit"/>
            <br>
        </form>
    </div>
    <br/>
    <div class="d-grid gap-2 col-6 mx-auto my-auto" align="center">
        <p><a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href = "/accounts/password/"><b class="h1">Change password</b></a></p>
        <p><a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href = "/accounts/delete/"><b class="h1">Delete account</b></a></p>
    </div>
{% endblock %}
