<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICUDiary</title>
</head>
<body>
    <h1>
        <a href="/">LOGO</a> | <span>ICUDiary</span>
        <span style = float:right>
        </span>
    </h1>
    <h1>Home</h1>
    <hr>
    <br>
    
    <!-- link to record -->
    <p>
        <a href="/newentry/"><b>Make an entry</b></a>
    </p>

    <!-- Link to archive -->
    <p>
        <a href="/archive/"><b>View archive</b></a>
    </p>

    <!-- Link to codes -->
    <p>
        <a href="/showcodes/"><b>Access codes</b></a>
    </p>

    <!-- Logout -->
    <p>
        <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
            <input type="submit" name="logout" value="Logout"/>
          </form>
    </p>
</body>
</html>
