<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICUDiary</title>
</head>
<body>
    <h1>
        <a href="/">LOGO</a> | <span>ICUDiary</span>
        <span style = float:right>
        </span>
    </h1>
    <h1>Home</h1>
    <hr>
    <br>
    
    <!-- link to record -->
    <p>
        <a href="/newentry/"><b>Make an entry</b></a>
    </p>

    <!-- Link to archive -->
    <p>
        <a href="/archive/"><b>View archive</b></a>
    </p>

    <!-- Logout -->
    <p>
        <a href="/accounts/logout/"><b>Logout</b></a>
    </p>
</body>
</html>
