{% extends 'base.html' %}

{% block body %}

<p style="display: flex; text-align: center;">
<h1>Help Page</h1>
<p>Create an account to view and make diary entries!</p>
<h2>FAQ</h2>
<!-- <h3>Want to go to the Home Screen?</h3>
<p>Click the book in the upper left corner!</p> -->
<!-- <h3>What is a SuperUser?</h3> 
<p>This is a designated friend or family member that can assist in making the account!</p> -->
<h3>Want to link your account?</h3>
<p>Ask your loved one for their Patient code and enter it when signing up or on the Home screen under <a href="/patientcode/">Enter Patient Codes</a>!</p>
<h3>Looking for your Patient code?</h3>
<p>Sign in to your Patient account and click <a href="/showcodes/">Access Codes</a>. Then copy and paste them to send to friends or family!</p>
<h3>Want to edit your account?</h3>
<p>Click on <a href="/edit/">Edit Profile</a> from the Home screen!</p>
</p>

{% endblock %}