{% extends 'base.html' %}

{% block body %}
        <form action="/accounts/login/" method="post" enctype="multipart/form-data">
            <div class="d-flex justify-content-center">
                <input class="mr-sm-2" type="text" placeholder= "username" name="username"/>
            </div>
            <div class="d-flex justify-content-center">
                <input class="mr-sm-2" type="password" placeholder = "password" name="password"/>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <input class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Login"/>
            </div>
            <br>
        </form>
        <div class="d-flex justify-content-center">
            <p>
                Don't have an account? <a href="/accounts/create/"><b>Sign up</b></a>
            </p>
        </div>

{% endblock %}
