{% extends 'unauth-base.html' %}
{% block body %}
        {% if incorrect %}
        <span style="color: red" class="d-flex justify-content-center"> Username or Password Incorrect </span>
        {% endif %}
        <form action="/accounts/login/" method="post" enctype="multipart/form-data">
            <div class="d-flex justify-content-center">
                <input class="mr-sm-2" type="text" placeholder= "username" name="username"/>
            </div>
            <div class="d-flex justify-content-center">
                <input class="mr-sm-2" type="password" placeholder = "password" name="password"/>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <input class="btn btn-outline-primary btn-block btn-lg ms-3" style="background-color: lightgray" type="submit" value="Login"/>
            </div>
            <br>
        </form>
        <div class="d-flex justify-content-center" style="font-size: 25px">
            <p>
                Don't have an account? <a href="/accounts/create/"><b>Sign Up</b></a>
            </p>
        </div>
        <div class="d-flex justify-content-center" style="font-size: 25px">
            <p>
                Forgot Password? <a href="/accounts/resetpassword/"><b>Reset Password</b></a>
            </p>
        </div>
{% endblock %}
