{% extends 'base.html' %}

{% block body %}
    {% if incorrect %}
    <span style="color: red" class="d-flex justify-content-center"> Old Password Incorrect </span>
    {% endif %}
    {% if no_match %}
        <span style="color: red" class="d-flex justify-content-center"> Passwords Don't Match </span>
    {% endif %}
    <!-- DO NOT CHANGE THIS -->
    <div class="d-grid gap-2 col-7 mx-auto my-auto">
        <form align="center" action="/accounts/password/" method="post" style="font-size: 25px" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Old Password </td>
                    <td><input type="password" name="old_password"/></td>
                </tr>
                <tr id="strengthCheckedNewPassword"></tr>
                <span id="isStrong" style="color: red" class="d-flex justify-content-center"></span>
                <tr>
                    <td>Retype New Password</td>
                    <td><input type="password" name="new_password"/></td>
                </tr>
            </table>
            <br>
            <input class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightgray" type="submit" name="update_password" value="Submit"/>
        </form>
    </div>
    <br>
    <br>
    <p align="center"><a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href = "/accounts/edit/"><b class="h1">Back to edit account</b></a></p>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <script>
        function validateForm() {
            let strength = document.getElementById("strengthCheckedPassword").lastElementChild.lastElementChild.lastElementChild.innerHTML;
            if (!(strength == "good" || strength == "strong")) {
                document.getElementById("isStrong").innerHTML = "Please enter a stronger password"
                return false;
            }
        }
    </script>
{% endblock %}
