{% extends 'base.html' %}

{% block body %}
    <!-- DO NOT CHANGE THIS -->
    <div class="d-grid gap-2 col-6 mx-auto my-auto"></div>
        <form action="/accounts/password/" method="post" style="font-size: 25px" enctype="multipart/form-data">
            <span style="text-align: right;">Old password <input type="password" name="password"/></span>
            <br>
            <span style="text-align: right;">New password <input type="password" name="new_password"/></span>
            <br>
            <span style="text-align: right;">New password, again <input type="password" name="new_password_check"/></span>
            <br>
            <input type="submit" name="update_password" value="Submit"/>
            <br>
        </form>
    
    <p><a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href = "/accounts/edit/"><b>Back to edit account</b></a></p>
    </div>
{% endblock %}
