{% extends 'base.html' %}

{% block body %}
    <form action="/patientcode/" method="post" enctype="multipart/form-data">
        <span style="font-size: 25px">Patient Code </span><input type="text" name="patientcode">
        <br>
        <input class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightgray" type="submit" name="signup" value="Submit"/>
        <br>
    </form>
    {% if existing %}
        <span style="font-size: 25px">This patient already exists in your records.</span>
        <br>
    {% endif %}
    {% if curr_patient %}
    <br>
        <span style="font-size: 25px">Patient {{curr_patient}} has been added!</span>
    {% endif %}
{% endblock %}}
