{% extends 'base.html' %}

{% block body %}
    <form action="/patientcode/" method="post" enctype="multipart/form-data">
        <span>Patient Code </span><input type="text" name="patientcode">
        <br>
        <input type="submit" name="signup" value="submit"/>
        <br>
    </form>
    {% if existing %}
        <span>This patient already exists in your records.</span>
        <br>
    {% endif %}
    {% for patient in patients %}
        <span>{{patient}}</span>
        <br>
    {% endfor %}
{% endblock %}}
