{% extends 'base.html' %}

{% block body %}
    <!-- form of what to submit -->
    <!-- <form action="/archive/" method="post" enctype="multipart/form-data">
        <input type="text" placeholder= "username" name="username"/>
        <br>
        <input type="password" placeholder = "password" name="password"/>
        <br>
        <input type="submit" value="login"/>
        <br>
    </form> -->
    <br>
    <p>
        <!-- <button id=Submit type="button">Submit</button> -->
        <!-- Flask redirect to archive -->

        <div id="reactEntry">
            Loading ...
        </div>
        <p>
            <a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href="/archive/"><b>View archive</b></a>
        </p>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    </p>

{% endblock %}