<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICUDiary</title>
</head>
<body>
    <!-- Page where you can create a recording for a diary entry -->
    <h1>
        <a href="/">LOGO</a> | <span>ICYou</span>
        <span style = float:right>
            <b>Create Diary Entry</b>
        </span>
    </h1>
    <hr>
    <!-- form of what to submit -->
    <!-- <form action="/archive/" method="post" enctype="multipart/form-data">
        <input type="text" placeholder= "username" name="username"/>
        <br>
        <input type="password" placeholder = "password" name="password"/>
        <br>
        <input type="submit" value="login"/>
        <br>
    </form> -->
    <br>
    <p>
        <!-- <button id=Submit type="button">Submit</button> -->
        <!-- Flask redirect to archive -->
        <p>
            <a href="/archive/"><b>View archive</b></a>
        </p>
    </p>
</body>
</html>