{% extends 'base.html' %}

{% block body %}
    <!-- DO NOT CHANGE THIS -->
    <div class="d-grid gap-2 col-6 mx-auto my-auto"></div>
        <form action="/accounts/password/" method="post" style="font-size: 25px" enctype="multipart/form-data">
            <span style="text-align: right;">Username <input type="text" name="username"/></span>
            <br>
            <span>{{question}}</span>
            <span style="text-align: right;">Answer: <input type="text" name="answer"/></span>
            {% if correct %}
                <div id="strengthCheckedPassword"></div>
                <span id="isStrong" style="color: red" class="d-flex justify-content-center"></span>
                <br>
                <span style="text-align: right;">Retype New Password <input type="password" name="new_password"/></span>
                <br>
                <input type="submit" name="update_password" value="Submit"/>
                <br>
            {% else %}
                <span style="color: red" class="d-flex justify-content-center"> Incorrect Answer </span>
            {% endif %}
        </form>
    
    <p><a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href = "/accounts/edit/"><b>Back to edit account</b></a></p>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <script>
        function validateForm() {
            let strength = document.getElementById("strengthCheckedPassword").lastElementChild.lastElementChild.lastElementChild.innerHTML;
            if (!(strength == "good" || strength == "strong")) {
                document.getElementById("isStrong").innerHTML = "Please enter a stronger password"
                return false;
            }
        }
    </script>
{% endblock %}
