{% extends 'unauth-base.html' %}

{% block body %}
    <!-- DO NOT CHANGE THIS -->
    <div class="d-grid gap-2 col-6 mx-auto my-auto"></div>
        {% if not usergiven %}
        <form action="/accounts/resetpassword/" method="post" style="font-size: 25px" enctype="multipart/form-data">
            <span style="text-align: right;">Username <input type="text" name="username"/></span>
            <br>
            <input class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightgray" type="submit" name="update_password" value="Submit"/>
            <br>
        </form>
        {% else %}
            <form action="/accounts/resetpassword/" method="post" style="font-size: 25px" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><span style="color: red">*</span> Username</td> 
                        <td><input type="text" name="username" value="{{username}}"/></td>
                    </tr>
                    <tr>
                        <td><span style="color: red">*</span> {{question}} </td>
                        <td> <input type="text" name="answer"/></td>
                    </tr>
                    {% if not correct %}
                    <span style="color: red" class="d-flex justify-content-center"> Incorrect Answer </span>
                    {% endif %}
                    <br>
                    <tr id="strengthCheckedNewPassword">
                    </tr>
                    <span id="isStrong" style="color: red" class="d-flex justify-content-center"></span>
                    <tr>
                        <td><span style="color: red">*</span> Retype New Password</td>
                        <td><input type="password" name="new_password"/></td>
                    </tr>
                </table>
                <br>
                <input class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightgray" type="submit" name="update_password" value="Submit"/>
            </form>
        {% endif %}
        <br>

    <p><a class="btn btn-outline-primary btn-block btn-lg" style="background-color: lightblue" href = "/accounts/login/"><b>Back to login</b></a></p>
    
</div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <script>
        function validateForm() {
            let strength = document.getElementById("strengthCheckedPassword").lastElementChild.lastElementChild.lastElementChild.innerHTML;
            if (!(strength == "good" || strength == "strong")) {
                document.getElementById("isStrong").innerHTML = "Please enter a stronger password"
                return false;
            }
        }
    </script>
{% endblock %}
