{% extends 'base.html' %}
{% block body %}

    <form action="/showcodes/" method="post" enctype="multipart/form-data">
        <div class="d-flex justify-content-center">
            <input class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Show Codes"/>
        </div>
    </form>
    {% if show %}
        <br>
        <div class="text-center">
            Here are your codes! Copy and share them with people to let them make diary entries!
        </div>
        <br>
        <div align="center">
            <span>Patient Code: </span> 
            <span id="patientCode">{{patientcode}}</span> <input type="image" src="{{url_for('static_func', file = 'copy.png')}}" onclick="copyPatientCode()" height="25px" width="25px"></input>
        </div>
        <!-- <br>
        <span>Superuser Code: </span>
        <span id="superuserCode">{{superusercode}}</span> <input type="image" src="{{url_for('static_func', file = 'copy.png')}}" onclick="copySuperuserCode()" height="25px" width="25px"></input> -->
    {% endif %}

    <script>
        function copyPatientCode() {
            navigator.clipboard.writeText(document.getElementById("patientCode").textContent);
        }
        function copySuperuserCode() {
            navigator.clipboard.writeText(document.getElementById("superuserCode").textContent);
        }
    </script>

{% endblock %}