<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICUDiary</title>
</head>
<body>
    <h1>
        <a href="/">LOGO</a> | <span>ICYou</span>
        <span style = float:right>
            <a href="/accounts/login/"><b>Request</b></a>
        </span>
    </h1>
    <hr>
    <br>
    <form action="/accounts/superuser/" method="post" enctype="multipart/form-data">
        <span>Patient Code </span><input type="text" name="patientcode">
        <br>
        <span>Superuser Code </span><input type="text" name="superusercode">
        <br>
        <input type="submit" name="signup" value="sign up"/>
        <br>
    </form>
</body>
</html>
